#test nagios config file
[test1]
metric = mysqlstat.FileSystem
check = gt
crit-threshold = 1060000
warn-threshold = 1040000

[test2]
metric = mysqlstat.ComSelect
check = gt
crit-threshold = 20
warn-threshold = 5

[test3]
metric = mysqlstat.ComRollback
check = gt
crit-threshold = 20
warn-threshold =  5

[test4]
metric = mysqlstat.ComBegin
check = gt
crit-threshold = 20
warn-threshold =  5

[test5]
metric = mysqlstat.ComCommit
check = gt
crit-threshold = 20
warn-threshold =  5

[test6]
metric = mysqlstat.ComReplace
check = gt
crit-threshold = 20
warn-threshold =  5

[test7]
metric = mysqlstat.ComUpdate
check = gt
crit-threshold = 20
warn-threshold =  5

