[services]
mysql.slave = ^.*Slave.+$

[test1]
metric-name = mysqlstat.FileSystem
check = >
crit-threshold = 1060000
warn-threshold = 1040000
crit-message = super critical
warn-message = warning message

[test2]
metric-name = mysqlstat.ComSelect
check = >
crit-threshold = 20
warn-threshold = 5
crit-message = comselect critical message

[test3]
metric-name = mysqlstat.ComRollback
check = >
crit-threshold = 20
warn-threshold =  5
crit-message = comrollabck critical message

[test4]
metric-name = mysqlstat.ComBegin
check = >
crit-threshold = 20
warn-threshold =  5
crit-message = combegin critical message

[test5]
metric-name = mysqlstat.ComCommit
check = >
crit-threshold = 20
warn-threshold =  5

[test6]
metric-name = mysqlstat.ComReplace
check = >
crit-threshold = 20
warn-threshold =  5

[test7]
metric-name = mysqlstat.ComUpdate
check = >
crit-threshold = 20
warn-threshold =  5

[size_test_specific]
metric-name = mysqlstat.square_development.holds.SizeBytes
check = >
crit-threshold = 1000000000000
warn-threshold = 1000000000000

[size_test2]
metric-type = developmet.SizeBytes
check = >
crit-threshold = 100000
warn-threshold = 50000
crit-message = size way too big
warn-message = size kinda too big
ok-message = size is ok 

[non-existing metric name]
metric-name = Com_not_a_metric
check = >
crit-threshold = 100000
warn-threshold = 50000
crit-message = size way too big
warn-message = size kinda too big
level-if-not-found = CRIT
message-if-not-found = metric not gathered

